# Using notebooks

In [88]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
sns.set_theme(style="darkgrid")

#### Import all necessary data from the kba website.

In [89]:
cols2skip = [0,6,7,8,9,10,11,15,16,17,18,19,20] #cut out the excel sheet
cols = [i for i in range(100) if i not in cols2skip]
df = pd.read_excel("fz10_2020_10_xlsx.xlsx",sheet_name="FZ10.1",skiprows=8, usecols=cols, skipfooter=8)

df.head(10)

,Marke,Marke/Modellreihe,Oktober 2020,Jan.-\nOktober 2020,Anteil \nin %,Oktober 2020.3,Jan.-\nOktober 2020.3,Anteil \nin %.3
0,ALFA ROMEO,ALFA GIULIETTA,83,474,18.9,-,-,-
1,NaN,GIULIA,100,788,31.5,-,-,-
2,NaN,STELVIO,176,1241,49.6,-,-,-
3,ALFA ROMEO ZUSAMMEN,NaN,359,2503,0.1,-,-,-
4,ALPINE,A110,10,143,100.0,-,-,-
5,ALPINE ZUSAMMEN,NaN,10,143,0.0,-,-,-
6,ASTON MARTIN,DBX,11,23,10.6,-,-,-
7,NaN,DB11,10,151,69.3,-,-,-
8,NaN,SONSTIGE,5,44,20.2,-,-,-
9,ASTON MARTIN ZUSAMMEN,NaN,26,218,0.0,-,-,-

#### Cleanup

In [90]:
df.columns = ["manufacturer","model","all_oct","all_ytd","all_percent","ev_oct","ev_ytd","ev_percent"]
cols = ["all_oct","ev_oct","ev_ytd","ev_percent"] 

df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)
df[["ev_oct","ev_ytd","ev_percent"]] = df[["ev_oct","ev_ytd","ev_percent"]].fillna(value=0)
df[["manufacturer","model"]] = df[["manufacturer","model"]].fillna(method='ffill')
df= df[~df['manufacturer'].str.contains('ZUSAMMEN')]
df=df.sort_values(by=['ev_oct'],ascending=False)
df.head(20)

,manufacturer,model,all_oct,all_ytd,all_percent,ev_oct,ev_ytd,ev_percent
300,RENAULT,ZOE,5010.0,20740,21.3,5010.0,20740.0,100.0
380,VW,ID.3,2647.0,4910,1.2,2647.0,4910.0,18.3
119,HYUNDAI,KONA,3583.0,21910,26.6,1932.0,8542.0,83.1
326,SMART,FORTWO,1846.0,7050,70.8,1846.0,7038.0,70.8
379,VW,GOLF,11290.0,112313,27.1,1300.0,13845.0,51.7
17,AUDI,E-TRON,1202.0,6654,3.8,1202.0,6654.0,97.4
32,BMW,I3,1179.0,6091,3.2,1179.0,6090.0,99.4
255,OPEL,CORSA,7185.0,40731,36.3,998.0,3252.0,82.9
391,VW,UP,3058.0,18669,4.5,990.0,6977.0,26.1
230,MINI,MINI,4347.0,36033,100.0,710.0,3129.0,100.0
325,SMART,FORFOUR,595.0,2905,29.2,595.0,2902.0,29.2
315,SKODA,CITIGO,493.0,3656,2.5,493.0,3508.0,99.9
268,PEUGEOT,208,1043.0,7490,16.9,488.0,1286.0,72.0
201,MAZDA,MX-30,453.0,1033,3.2,453.0,1033.0,97.3
148,KIA,NIRO,858.0,6294,11.8,421.0,2844.0,59.0
220,MERCEDES,"GLK, GLC",4172.0,32438,13.5,421.0,1784.0,91.5
284,PORSCHE,TAYCAN,373.0,2186,10.5,373.0,2186.0,100.0
311,SEAT,MII,269.0,1510,1.6,269.0,1229.0,100.0
243,NISSAN,LEAF,263.0,2126,7.6,263.0,2126.0,84.4
271,PEUGEOT,2008,947.0,5820,13.1,186.0,339.0,19.0

In [91]:


#ddf.head(20)

In [92]:
#df2 = df.sort_values(by=['company'])

In [93]:
#df.info
#df.dtypes
#df.describe()