# Using notebooks

In [138]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
sns.set_theme(style="darkgrid")

#### Import all necessary data from the kba website.

In [139]:
cols2skip = [0,6,7,8,9,10,11,15,16,17,18,19,20] #cut out the excel sheet
cols = [i for i in range(100) if i not in cols2skip]
df = pd.read_excel("fz10_2020_10_xlsx.xlsx",sheet_name="FZ10.1",skiprows=8, usecols=cols, skipfooter=8)

df.head(10)

,Marke,Marke/Modellreihe,Oktober 2020,Jan.-\nOktober 2020,Anteil \nin %,Oktober 2020.3,Jan.-\nOktober 2020.3,Anteil \nin %.3
0,ALFA ROMEO,ALFA GIULIETTA,83,474,18.9,-,-,-
1,NaN,GIULIA,100,788,31.5,-,-,-
2,NaN,STELVIO,176,1241,49.6,-,-,-
3,ALFA ROMEO ZUSAMMEN,NaN,359,2503,0.1,-,-,-
4,ALPINE,A110,10,143,100.0,-,-,-
5,ALPINE ZUSAMMEN,NaN,10,143,0.0,-,-,-
6,ASTON MARTIN,DBX,11,23,10.6,-,-,-
7,NaN,DB11,10,151,69.3,-,-,-
8,NaN,SONSTIGE,5,44,20.2,-,-,-
9,ASTON MARTIN ZUSAMMEN,NaN,26,218,0.0,-,-,-